*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  vertical-align: baseline;
}

html { font-size: 62.5% }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}